.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
npm-debug.log
*.log
!.keep
!Procfile
*.DS_Store
*.swo
*.swp
/node_modules
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
/public/*
.idea*
*.rdb
timesheet.rb
.byebug_history
npm-debug.log
