<!DOCTYPE html>
<html>
<head>
  <title>Devise mongoid multi email</title>
  <%= stylesheet_link_tag    "devise_mongoid_multi_email/application", media: "all" %>
  <%= javascript_include_tag "devise_mongoid_multi_email/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
